@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');


html{
    scroll-behavior: smooth;
}
body{
    background-image: url(imgs/fondoazul2.jpeg);
    margin: 0;
    padding: 0;

}

#top-nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    background-color: transparent;
    width: 100%;
    z-index: 1;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding: 0px 15px;
}
.enlaces{
     /* text-align: center; */
     justify-content: space-between;
     /* float: left; */
     padding: 0px 0px;
     flex-direction: row;
     margin: 40px 30px;
     /* width: 100px; */
     /* display: block; */
     text-decoration: none;
     /* transition: border-bottom-color 0.2s ease-in; */
     color: rgb(255, 255, 255);
     text-transform: uppercase;
     font-weight: bold;
     font-family: Oswald, sans-serif;

}
a:hover{
    text-decoration: underline;
    
}
.logo{
    flex: 1 1 auto;
    margin-left: 1%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.logocelia{
    position: absolute;
    z-index: 100000;
    top: 25px;
    left: 30px;
}
.banner-area{
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#inicio{
    background-image: url(imgs/celia.jpeg);
    background-size: auto;
    background-repeat: inherit;
    background-position: center;
        background-position-x: center;
        background-position-y: top;
    width: 100%;
    min-height: 100vh;
    position: relative;
    color: #2d2d2d;

}


iframe{
    margin-top: 200px;
}
.redes{
    height: 200px;
    align-items: center;
    flex-direction: row;
    background-image: url(imgs/fondoazul2.jpeg);
    justify-content: center;
    background-repeat: repeat;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    padding-top: 50px;
}

.spotify{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.instagram{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.twitter{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.instagram:hover{
    content: url(imgs/instagramblanco.png);
}
.spotify:hover{
    content: url(imgs/spotifyblanco.png);
}
.twitter:hover{
    content: url(imgs/twitterblanco.png);
}