@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

#top-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  background-color: transparent;
  width: 100%;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  padding: 0px 15px;
}
.enlaces {
  /* text-align: center; */
  justify-content: space-between;
  /* float: left; */
  padding: 0px 0px;
  flex-direction: row;
  margin: 40px 30px;
  /* width: 100px; */
  /* display: block; */
  text-decoration: none;
  /* transition: border-bottom-color 0.2s ease-in; */
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  font-family: Oswald, sans-serif;
}
.enlaces:hover {
  border-bottom: 2px solid white;
}
.logocelia {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  
}
.logo {
  flex: 1 1 auto;
  margin-left: 1%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}

.banner-area {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#inicio {
  background-image: url(imgs/fondopag.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  background-position-y: top;
  width: 100%;
  min-height: 100vh;
  position: center;
  color: #2d2d2d;
}
#musica {
  height: 700px;
  align-items: center;
  flex-direction: column;
  background-image: url("imgs/fondoazul2.jpeg");
  justify-content: center;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  width: 100%;
  padding-top: 100px;
}
.escucha {
  color: white;
  text-align: center;
}
.celiacover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.boton {
  background-color: #397494;
  border: none;
  color: #0b486b;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 70px 650px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.boton {
  font-family: "Oswald", sans-serif;
  background-color: #397494;
  color: white;
  border: 1px solid #413d3d;
  box-shadow: -10px 0px 10px 1px #413d3d;
}

.boton:hover {
  background-color: #343838;
  color: white;
}

iframe {
  margin-top: 200px;
}

#videos {
  height: 700px;
  background-image: url("imgs/fondoazul2.jpeg");
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
#tour {
  text-align: center;
  height: 300px;
  background-image: url("imgs/fondoazul2.jpeg");
  background-repeat: repeat;
  background-attachment: fixed;
  display: inline-block;
  width: 100%;
}
.redes {
  height: 200px;
  align-items: center;
  flex-direction: row;
  background-image: url(imgs/fondoazul2.jpeg);
  justify-content: center;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  width: 100%;
  padding-top: 50px;
}

.spotify {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.instagram {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.twitter {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.instagram:hover {
  content: url(imgs/instagramblanco.png);
}
.spotify:hover {
  content: url(imgs/spotifyblanco.png);
}
.twitter:hover {
  content: url(imgs/twitterblanco.png);
}




